<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thank You</title>
    <link href="./static/thanks.css" rel="stylesheet">
    <link href="./static/assets/ship.ico" rel="icon">
  </head>
  <style>
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 30px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
  <body>
    <p>Thank you for submitting the form I will get in touch with you soon</p>
      <p>|Go Back To the Home Page| <a href="./" title="Go Home">Home</a></p>
      <img src="./static/assets/images/thanks.jpeg" class="img-responsive" alt="">
  </body>
</html>
